<div class="border b-light rounded-lg shadow-sm hover:shadow-md transition">
    <div class="flex items-center p-4 space-x-4 border-b b-light rounded-[5px] w-full">
        <img src="{{employe!.photo}}" alt="avatar"
            class="w-16 h-16 rounded-full object-cover" />
        <div>
            <h2 class="font-semibold text-lg pb-1">{{ employe!.nom }}</h2>
            <h5 class="font-semibold text-gray-500 pb-1">{{ employe!.prenom }}</h5>
            <p class="text-sm text-gray-500">{{ employe!.poste }}</p>
        </div>
    </div>
    <div class="p-4 bg-[#f3f4f6]">
        <div class="space-y-1 text-sm text-gray-600 mb-4">
            <p class="flex justify-between font-medium"><span>Département:</span> <span>{{ employe!.departement
                    }}</span></p>
            <p class="flex justify-between font-medium"><span>Salaire annuel:</span> <span>{{ employe!.salaireBase }}
                    CFA</span></p>
            <p class="flex justify-between font-medium"><span>Date d'embauche:</span> <span>{{ employe!.dateEmbauche
                    }}</span></p>
        </div>

        <div class="flex items-center justify-between">
            <span
                class="text-xs font-medium px-2 py-1 rounded {{employe!.statut == 'Actif' ? 'actif' : (employe!.statut =='Inactif' ? 'inactif' : 'conge')}}">{{
                employe!.statut }}
            </span>
            <button class="flex items-center text-2xl text-blue-600" (click)="openDetails()">
                <!-- <svg class="w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-width="2"
                        d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
                    <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg> -->
                <i class="ri-eye-line"></i>
            </button>
        </div>
    </div>
</div>