<div class="p-4">
    <!-- Titre -->
    <div class="flex">
        <h1 class="text-2xl font-bold mb-4">Employés</h1>
        <button class="button" (click)="onAdd()">
            Ajouter un employé
        </button>
    </div>

    <!-- Filtres -->
    <div (ngSubmit)="onSearch()" class="grid gap-4 sm:grid-cols-3 mb-4 mt-4">
        <input (input)="onSearch()" [(ngModel)]="champ" name="nom" type="text"
            placeholder="Rechercher par nom, email ou poste…"
            class="border border-[#aaadb1] rounded-lg p-2 w-full sm:w-auto" />
        <select name="depart" (change)="onSearch()" [(ngModel)]="departementId"
            class="border border-[#aaadb1] rounded-lg p-2 w-full sm:w-auto">
            <option [ngValue]="undefined">Tous les départements</option>
            @for (departement of list?.departements; track $index) {
            <option [ngValue]="departement.id">{{ departement.nom }}</option>
            }
        </select>
        <select name="stat" (change)="onSearch()" [(ngModel)]="statut"
            class="border border-[#aaadb1] rounded-lg p-2 w-full sm:w-auto">
            <option [ngValue]="undefined">Tous les statuts</option>
            @for (statut of list?.statuts; track $index) {
            <option [ngValue]="statut">{{ statut }}</option>
            }
        </select>

        <button (click)="onSearch()" class="button sm:hidden">
            Rechercher
        </button>

    </div>


    <!-- Grille d'employés -->
    <div *ngIf="list?.employes?.length! > 0">
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-6 mt-4">
            <app-employee-card *ngFor="let emp of list?.employes" [employe]="emp"></app-employee-card>
        </div>
        <!-- Pagination -->
        <div class="flex justify-end my-4">
            <app-pagination [pagination]="pagination" (onPageChange)="onPageChange($event)" />
        </div>
    </div>
    <!-- Aucune donnée -->
</div>
<div *ngIf="list?.employes?.length == 0" class="flex justify-center items-center h-fit">
    <p class="text-gray-500">Aucun employé trouvé.</p>
</div>