<div class="p-4">
  <!-- Titre -->
    <div class="flex">
        <h1 class="text-2xl font-bold mb-4">Employés</h1>
        <button class="button">
            Ajouter un employé
        </button>
    </div>

    <!-- Filtres -->
    <form (ngSubmit)="onSearch()" class="grid gap-4 md:grid-cols-3 mb-4 mt-4">
        <input
            (input)="onSearch()"
            [(ngModel)]="champ"
            name="nom"
            type="text"
            placeholder="{{list?.champ ?? 'Rechercher par nom, email ou poste…'}}"
            class="border border-[#aaadb1] rounded-lg p-2 w-full sm:w-auto"
        />
        <select name="depart" (change)="onSearch()" [(ngModel)]="departementId" class="border border-[#aaadb1] rounded-lg p-2 w-full sm:w-auto">
            <option ngValue="">Tous les départements</option>
            @for (departement of list?.departements; track $index) {
                <option ngValue="{{ departement.id }}">{{ departement.nom }}</option>
            }
        </select>
        <select name="stat" (change)="onSearch()" [(ngModel)]="statut" class="border border-[#aaadb1] rounded-lg p-2 w-full sm:w-auto">
            <option ngValue="">Tous les statuts</option>
            @for (statut of list?.statuts; track $index) {
                <option ngValue="{{ statut }}">{{ statut }}</option>
            }
        </select>

        <button type="submit" class="button sm:hidden">
            Rechercher
        </button>

    </form>


    <!-- Grille d'employés -->
    <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-6 mt-4">
        <app-employee-card *ngFor="let emp of list?.employes" [employe]="emp"></app-employee-card>
    </div>
</div>
