<div [formGroup]="posteForm" class="space-y-4">
    <div class="flex gap-4">
        <div class="w-1/2">
            <label for="" class="block mb-1">Intitulé du poste</label>
            <input type="text" formControlName="intitulePoste"
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
        <div class="w-1/2">
            <label for="" class="block mb-1">Département</label>
            <input type="text" formControlName="departement"
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
    </div>

    <div class="flex gap-4">
        <div class="w-1/2">
            <label for="" class="block mb-1">Service</label>
            <input type="text" formControlName="service"
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
        <div class="w-1/2">
            <label for="" class="block mb-1">Hiérarchie</label>
            <input type="text" formControlName="hierarchie"
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
    </div>

    <div class="flex gap-4">
        <div class="w-1/2">
            <label for="" class="block mb-1">Lieu de travail</label>
            <input type="text" formControlName="lieuTravail"
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
        <div class="w-1/2">
            <label for="" class="block mb-1">Code du poste</label>
            <input type="text" formControlName="codePoste"
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>
    </div>

    <div>
        <label for="" class="block mb-1">Description du poste</label>
        <textarea formControlName="description" rows="3"
            class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
    </div>
</div>