<div class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-4 gap-4">
  <div class="bg-white rounded-2xl p-4 border shadow-md b-light flex flex-col gap-0.5">
    <div class="text-lg flex justify-between">
        <span class="font-semibold ">Masse salariale (6 derniers mois)</span>
        <i class="ri-bar-chart-2-line"></i>
    </div>
    <canvas id="barChart"> {{barChart}} </canvas>
  </div>

  <div class="bg-white rounded-2xl p-4 border shadow-md b-light flex flex-col gap-0.5">
    <div class="text-lg flex justify-between">
        <span class="font-semibold ">Évolution des charges sociales</span>
        <i class="ri-line-chart-line"></i>
    </div>
    <canvas id="lineChart"> {{lineChart}} </canvas>
  </div>

  <div class="bg-white rounded-2xl p-4 border shadow-md b-light flex flex-col gap-0.5">
    <div class="text-lg flex justify-between">
        <span class="font-semibold ">Répartition par département</span>
        <i class="ri-pie-chart-line"></i>
    </div>
    <canvas id="pieChart"> {{pieChart}} </canvas>
  </div>

  <div class="bg-white rounded-2xl p-4 border shadow-md b-light flex flex-col gap-0.5">
    <div class="text-lg flex justify-between">
        <span class="font-semibold ">Actions rapides</span>
        <i class="ri-speed-mini-line"></i>
    </div>
    <div class="grid gap-4">
      <button (click)="generateBulletin()" class="button w-full">
          <i class="ri-article-line"></i>
          <span>Générer les bulletins</span>
      </button>
      <button (click)="sendBulletin()" class="button-clair text-center w-full">
          <i class="ri-send-plane-line"></i>
          <span>Envoyer les rappels par email</span>
      </button>
      <button (click)="downloadBulletin()" class="button-clair text-center w-full">
          <i class="ri-download-2-line"></i>
          <span>Télécharger tous les bulletins</span>
      </button>
    </div>
  </div>
</div>
