<aside
  class="hidden sm:flex fixed inset-y-0 left-0 z-30 w-64 back-menu b-light border-r lg:static lg:block lg:translate-x-0 transition-transform h-full  flex-col p-4 space-y-4">

  <img
    src="https://cdn-icons-png.freepik.com/512/8216/8216470.png"
    class="w-[150px] h-auto;" alt="Company Logo" />

  <!-- Menu -->
  <nav class="flex flex-col space-y-2">
    @for (menu of menuItems; track menu.routerLink) {
    @if (menu.isVisible){
    <a routerLink="{{menu.routerLink}}" routerLinkActive="{{menu.routerLinkActive}}"
      class="flex items-center space-x-2 p-2 rounded hover:bg-gray-100">
      <span><i class="{{menu.icon}}"></i></span>
      <span>{{menu.label}}</span>
    </a>
    }
    }
  </nav>


</aside>
