<div (click)="hidePopup()" class="z-30 fixed inset-0 bg-black opacity-30 flex items-center justify-center">
  
</div>
<div class="z-50 bg-white p-6 rounded shadow-lg inset-0 fixed h-fit sm:w-[30%] w-[80%] m-auto">

    <button (click)="hidePopup()" class="absolute top-2 right-2 text-gray-500 hover:text-black">✖</button>
    <div *ngIf="remunerations.length > 0" >
        <select [(ngModel)]="remuneration" class="border p-2 rounded w-full mb-4">
            <option *ngFor="let remuneration of remunerations" [ngValue]="remuneration">{{remuneration.nom}}</option>
        </select>
        <button (click)="validate()" class="button m-auto">
            Valider
        </button>
    </div>
    <div *ngIf="remunerations.length == 0" class="flex flex-col justify-center items-center h-fit">
        <p class="text-gray-500 mb-2 text-xl" >Toutes les remunérations lui ont déja été affecté</p>
        <button (click)="hidePopup()" class="button m-auto">
            Okay
        </button>
    </div>


</div>