<div (click)="hidePopup()" class="z-30 fixed inset-0 bg-black opacity-30 flex items-center justify-center">
  
</div>
<div class="z-50 bg-white p-6 rounded shadow-lg inset-0 fixed h-fit sm:w-[30%] w-[80%] m-auto">

    <button (click)="hidePopup()" class="absolute top-2 right-2 text-gray-500 hover:text-black">✖</button>
    <h2 class="text-gray-500 text-center mb-2">Veuillez selectionner le mois</h2>
    <select [(ngModel)]="periode" class="border p-2 rounded w-full mb-4">
        <option *ngFor="let periode of periodes" [ngValue]="periode">{{periode.mois}}</option>
    </select>

    <button (click)="validate()" class="button m-auto">
        Valider
    </button>

</div>