<nav class="sm:hidden fixed bottom-0 left-0 right-0  back-menu b-light border-t flex justify-around py-2 z-50">
  <a routerLink="/dashboard" routerLinkActive="font-bold" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-100 flex-col">
    <span ><i class="ri-dashboard-3-line"></i></span>
    <span class="text-xs">Tableau de bord</span>
  </a>
  <a routerLink="/employes" routerLinkActive="font-bold" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-100 flex-col">
    <span ><i class="ri-group-line"></i></span>
    <span class="text-xs">Employés</span>
  </a>
  <a routerLink="/bulletins" routerLinkActive="font-bold" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-100 flex-col">
    <span ><i class="ri-newspaper-line"></i></span>
    <span class="text-xs">Bulletins</span>
  </a>
  <a routerLink="/calendrier" routerLinkActive="font-bold" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-100 flex-col">
    <span >📅</span>
    <span class="text-xs">Calendrier</span>
  </a>
  <a routerLink="/profil" routerLinkActive="font-bold" class="flex items-center space-x-2 p-2 rounded hover:bg-gray-100 flex-col">
    <span >👤</span>
    <span class="text-xs">Profil</span>
  </a>
</nav>
