<nav class="sm:hidden fixed bottom-0 left-0 right-0  back-menu b-light border-t flex justify-around py-2 z-50">

    @for (menu of menuItems; track menu.routerLink) {
        @if (menu.isVisible){
          <a routerLink="{{menu.routerLink}}" routerLinkActive="{{menu.routerLinkActive}}" class="flex w-[50%] items-center space-x-2 p-2 rounded hover:bg-gray-100 flex-col">
            <span ><i class="{{menu.icon}}"></i></span>
            <span class="text-xs">{{menu.label}}</span>
          </a>
      }
    }
</nav>
