<div class="bg-white shadow rounded-xl p-6 flex flex-col gap-6">
    <!-- Informations personnelles -->
    <div class="flex flex-col md:flex-row gap-6">
        <div class="flex-1 space-y-4">
            <div class="flex items-center gap-4">
                <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="avatar"
                    class="w-16 h-16 rounded-full object-cover" />
                <div>
                    <div class="flex items-center gap-2">
                        <h2 class="text-xl font-bold">{{ employee?.prenom }} {{ employee?.nom }}</h2>
                        <span class="text-sm text-green-700 bg-green-100 px-2 py-0.5 rounded">Actif</span>
                    </div>
                    <p class="text-gray-500">{{ employee?.poste || 'Développeur Senior' }}</p>
                </div>
            </div>

            <div class="flex w-full  gap-4 items-start">
                <!-- Carte Informations personnelles -->
                <div class="bg-gray-50 rounded-lg p-4 space-y-2 text-gray-600 shadow w-1/4 max-h-max">
                    <p><strong>Email :</strong> {{ employee!.email }}</p>
                    <p><strong>Téléphone :</strong> {{ employee!.telephone }}</p>
                    <p><strong>Embauché le :</strong> {{ employee!.dateEmbauche }}</p>
                    <p><strong>Salaire annuel :</strong> {{ employee!.salaireBase | currency:'EUR' }}</p>
                </div>

                <div class="w-full">
                    <div class="bg-gray-50 rounded-lg p-4 shadow">
                        <!-- Onglets -->
                        <div>
                            <div class="border-b border-gray-500 flex gap-4 text-sm font-medium">
                                <button class="py-2 px-3 -mb-px border-b-2" [ngClass]="{
                'border-blue-600 text-blue-600': activeTab === 'bulletins',
                'border-transparent text-gray-500 hover:text-blue-600': activeTab !== 'bulletins'
              }" (click)="setActiveTab('bulletins')">
                                    Bulletins
                                </button>

                                <button class="py-2 px-3 -mb-px border-b-2" [ngClass]="{
                'border-blue-600 text-blue-600': activeTab === 'remunerations',
                'border-transparent text-gray-500 hover:text-blue-600': activeTab !== 'remunerations'
              }" (click)="setActiveTab('remunerations')">
                                    Rémunérations
                                </button>

                                <button class="py-2 px-3 -mb-px border-b-2" [ngClass]="{
                'border-blue-600 text-blue-600': activeTab === 'cotisations',
                'border-transparent text-gray-500 hover:text-blue-600': activeTab !== 'cotisations'
              }" (click)="setActiveTab('cotisations')">
                                    Cotisations
                                </button>
                            </div>

                            <!-- Contenu des onglets -->
                            <div class="mt-4">
                                <ng-container [ngSwitch]="activeTab">
                                    <div *ngSwitchCase="'bulletins'">
                                        <div class="overflow-x-auto bg-white rounded-xl shadow">
                                            <table class="min-w-full divide-y divide-gray-200 text-sm text-left">
                                                <thead class="bg-gray-100 text-gray-600 uppercase text-xs">
                                                    <tr>
                                                        <th class="px-4 py-3">Employé</th>
                                                        <th class="px-4 py-3">Période</th>
                                                        <th class="px-4 py-3">Salaire brut</th>
                                                        <th class="px-4 py-3">Cotisations</th>
                                                        <th class="px-4 py-3">Salaire net</th>
                                                        <th class="px-4 py-3">Statut</th>
                                                        <th class="px-4 py-3">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="divide-y divide-gray-100 text-gray-700">
                                                    @if (payHistory?.length === 0) {
                                                    <tr>
                                                        <td colspan="7" class="text-center py-4">
                                                            Aucune donnée disponible
                                                        </td>
                                                    </tr>
                                                    }@else {

                                                    @for (bulletin of payHistory; track $index) {

                                                    <tr>
                                                        <td class="px-4 py-3 font-semibold">
                                                            {{ bulletin?.employeNom }} {{ bulletin?.employePrenom }}
                                                        </td>
                                                        <td class="px-4 py-3">
                                                            {{ bulletin?.mois }}
                                                        </td>
                                                        <td class="px-4 py-3">
                                                            {{ bulletin?.salaireBrut | currency:'EUR' }}
                                                        </td>
                                                        <td class="px-4 py-3">
                                                            {{ bulletin!.chargeSalariale + bulletin!.chargePatronale |
                                                            currency:'EUR' }}
                                                        </td>
                                                        <td class="px-4 py-3 font-bold">
                                                            {{ bulletin?.netAPayer | currency:'EUR' }}
                                                        </td>
                                                        <td class="px-4 py-3">
                                                            <span class="px-2 py-0.5 rounded text-sm font-medium"
                                                                [ngClass]="{
              'bg-green-100 text-green-700': bulletin?.status === 'payé',
              'bg-yellow-100 text-yellow-800': bulletin?.status === 'en attente',
              'bg-blue-100 text-blue-700': bulletin?.status === 'envoyé'
            }">
                                                                {{ bulletin?.status | titlecase }}
                                                            </span>
                                                        </td>
                                                        <td class="px-4 py-3">
                                                            <button class="text-gray-600 hover:text-blue-600"
                                                                (click)="openBulletin(bulletin!)">
                                                                <svg class="w-6 h-6 dark:text-white" aria-hidden="true"
                                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" fill="none" viewBox="0 0 24 24">
                                                                    <path stroke="currentColor" stroke-linecap="round"
                                                                        stroke-linejoin="round" stroke-width="2"
                                                                        d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
                                                                </svg>

                                                            </button>

                                                            <button class="text-gray-600 hover:text-blue-600"
                                                                (click)="sendBulletin()">
                                                                <svg class="w-6 h-6  dark:text-white" aria-hidden="true"
                                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" fill="none" viewBox="0 0 24 24">
                                                                    <path stroke="currentColor" stroke-linecap="round"
                                                                        stroke-linejoin="round" stroke-width="2"
                                                                        d="m12 18-7 3 7-18 7 18-7-3Zm0 0v-5" />
                                                                </svg>


                                                            </button>
                                                        </td>


                                                    </tr>

                                                    }

                                                    }

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>

                                    <div *ngSwitchCase="'remunerations'">
                                        <p class="text-gray-600 italic">Données de rémunération à venir...</p>
                                    </div>

                                    <div *ngSwitchCase="'cotisations'">
                                        <p class="text-gray-600 italic">Données de cotisations à venir...</p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>