/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

i{
    font-size: x-large;
}
.b-light {
  border-color: #c0c3c7;
}
.back-menu{
    background-color: #eff6ff;
}
.conge{
    background-color: #fef3c7;
    color: #9f530e;
}
.actif{
    background-color: #dcfce7;
    color: #2e6a4c;
}
.inactif{
    background-color: #fee2e2;
    color: #9c2442;
}

input:focus,
select:focus {
  outline: none; /* enlève le contour bleu */
  box-shadow: none; /* enlève l'effet de bordure ressortie */
  background-color: #f0f0f0;
}
.button{
    background-color: #2563eb;
    color: white;
    border-radius: 0.375rem;
    padding: 8px 16px;
    font-size: large;
    margin-left: auto;
}
.button-clair:hover,
.button:hover{
    cursor: pointer;
}
.button-clair{
    border-radius: 5px;
    padding: 4px;
    display: flex;
    align-items: center;
    border: 1px solid #c0c3c7;
    color: black;
    font-weight: 400;
    font-size: large;
    width: fit-content;
}
.button > *,
.button-clair > *{
    margin: 0 5px;
}
.selected{
    background-color: #2563eb;
    color: white;
    border-radius: 0.375rem;
    padding: 8px 16px;
    font-family: "font-semibold";
}