<app-select-renumeration *ngIf="select" [employeId]="employeId" (hide)="hideSelect()" (selected)="showSaisie($event)" />
<app-saisie-montant *ngIf="saisie" (hide)="hideSaisie()" (add)="addRemuneration($event)" />
<div class="flex justify-between items-center mb-4">
    <button (click)="selectRemuneration()" class="ml-auto button-clair">
        <span>Ajouter</span>
    </button>
</div>
<div *ngIf="remunerations?.length! > 0" class="overflow-x-auto text-sm b-light border rounded">
    <table class="min-w-full">
        <thead class="border-b b-light">
            <tr class="bg-gray-100">
                <th class="p-2 text-left font-bold">Type</th>
                <th class="p-2 text-left font-bold">Montant</th>
                <th class="p-2 text-left font-bold">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of remunerations" class="border-b b-light">
                <td class="p-2">{{ item.remunerationNom }}</td>
                <td class="p-2">{{ item.montant }}</td>
                <td class="p-2">
                    <button *ngIf="item.remunerationNom != 'Prime d\'ancienneté'" (click)="modifier(item.id)" class="p-1 hover:bg-[#f3f4f6] rounded hover:cursor-pointer">
                        <i class="ri-pencil-line"></i>
                    </button>
                    <button *ngIf="item.remunerationNom != 'SALAIRE DE BASE' && item.remunerationNom != 'Prime d\'ancienneté'" (click)="remove(item.id)" class="p-1 hover:bg-[#fee2e2] hover:text-[#9c2442] rounded hover:cursor-pointer">
                        <i class="ri-delete-bin-2-line"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-pagination [pagination]="pagination" (onPageChange)="paginate($event)" />
